.carousel-container {
  text-align: center;
  padding: 20px;
  /* height: 140vh; */
}

.carousel-container h2 {
  text-align: start;
  padding-left: 10px;
  border-left: 4px solid red;
  margin-left: 30px;
  font-size: 32px;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  padding: 30px;
  cursor: pointer;
}

.carousel-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.carousel-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 22px 8px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin-logo {
  font-size: 24px;
  font-weight: bold;
  border: 4px solid #000;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.date {
  margin-top: 10px;
  color: #888;
}

.carousel-end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 200px;
}

.carousel-end-cart-para {
  font-size: 18px;
  font-weight: bolder;
  text-align: left;
}

.carousel-end-cart-date {
  text-align: end;
}

.carousel-end-cart {
  margin-top: 0;
  margin-left: 160px;
  width: 300px;
  margin-right: 40px;
}

.carousel-end-cart1 {
  width: 300px;
  margin-right: 100px;
}

.carousel-end-cart2 {
  width: 300px;
}

.left {
  font-size: 40px;
  font-weight: 900;
  margin-right: 50px;
}

.right {
  font-size: 40px;
  font-weight: 900;
  margin-left: 50px;
}
